body {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    width: 30%;
}

.navbar {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vw;
    background-color: grey;
    padding: 1.5%;
}

.storeName {
    width: 30%;
    font-weight: bold;
    font-size: 150%;
}

.links {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    list-style: none;
}


.main {
    display: flex;
    flex-direction: row;
    margin: 3%;
    gap: 5%;
}