body {
    margin: 0;
}

.navbar {
    background-color: red;
    margin: 0;
    padding: 1%;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    padding: 3px;
    gap: 6%;

}